-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "eventtype" AS ENUM ('NONE', 'HALLOWEEN', 'SPRING', 'SUMMER', 'WINTER', 'AUTUMN', 'NEW_YEAR', 'CHRISTMAS', 'VALENTINE', 'CHILDREN', 'BUNNY', 'CARNIVAL', 'MAID', 'ANGEL', 'SPORTS', 'KIMONO', 'GALA', 'GALA_MASCULINA', 'NEW_YEAR_LUNAR', 'NURSE', 'SCHOOL', 'GAME');

-- CreateEnum
CREATE TYPE "language" AS ENUM ('PT', 'EN', 'ES', 'FR', 'DE', 'IT', 'JA', 'KO', 'ZH');

-- CreateEnum
CREATE TYPE "mediatype" AS ENUM ('IMAGE_URL', 'IMAGE_FILEID', 'IMAGE_BYTES', 'IMAGE_FILE', 'IMAGE_BASE64', 'VIDEO_BYTES', 'VIDEO_BASE64', 'VIDEO_FILE', 'VIDEO_URL', 'VIDEO_FILEID');

-- CreateEnum
CREATE TYPE "profiletype" AS ENUM ('SUPREME', 'SUPER_ADMIN', 'ADMIN', 'MODERATOR', 'USER', 'BANNED');

-- CreateEnum
CREATE TYPE "raritytype" AS ENUM ('COMMON', 'UNCOMMON', 'RARE', 'LEGENDARY', 'EXCLUSIVE', 'LIMITED', 'SPECIAL', 'MULTIVERSE', 'SPECTRAL');

-- CreateTable
CREATE TABLE "alembic_version" (
    "version_num" VARCHAR(32) NOT NULL,

    CONSTRAINT "alembic_version_pkc" PRIMARY KEY ("version_num")
);

-- CreateTable
CREATE TABLE "characters_husbando" (
    "id" SERIAL NOT NULL,
    "character_name" VARCHAR(100) NOT NULL,
    "event_code" "eventtype" NOT NULL,
    "rarity_code" "raritytype" NOT NULL,
    "media_type" "mediatype" NOT NULL,
    "extras" JSON,
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "origem" VARCHAR(100) NOT NULL,
    "tipo_fonte" VARCHAR(500) NOT NULL,
    "data" VARCHAR NOT NULL,

    CONSTRAINT "characters_husbando_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "characters_waifu" (
    "id" SERIAL NOT NULL,
    "character_name" VARCHAR(100) NOT NULL,
    "event_code" "eventtype" NOT NULL,
    "rarity_code" "raritytype" NOT NULL,
    "media_type" "mediatype" NOT NULL,
    "extras" JSON,
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "origem" VARCHAR(100) NOT NULL,
    "tipo_fonte" VARCHAR(500) NOT NULL,
    "data" VARCHAR NOT NULL,

    CONSTRAINT "characters_waifu_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "events" (
    "id" SERIAL NOT NULL,
    "code" "eventtype" NOT NULL,
    "name" VARCHAR(50) NOT NULL,
    "emoji" VARCHAR(5),
    "description" VARCHAR(255),

    CONSTRAINT "events_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "husbando_collection" (
    "id" SERIAL NOT NULL,
    "telegram_id" BIGINT NOT NULL,
    "character_id" INTEGER NOT NULL,
    "added_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "husbando_collection_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "rarities" (
    "id" SERIAL NOT NULL,
    "code" "raritytype" NOT NULL,
    "name" VARCHAR(50) NOT NULL,
    "emoji" VARCHAR(5),
    "description" VARCHAR(255),

    CONSTRAINT "rarities_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "telegram_groups" (
    "id" SERIAL NOT NULL,
    "group_id" BIGINT NOT NULL,
    "group_name" VARCHAR(255) NOT NULL,
    "configuration" JSON,
    "language" "language" NOT NULL,
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "telegram_groups_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "users" (
    "id" SERIAL NOT NULL,
    "telegram_id" BIGINT NOT NULL,
    "telegram_user_data" JSON,
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "favorite_waifu_id" INTEGER,
    "favorite_husbando_id" INTEGER,
    "profile_status" "profiletype",
    "waifu_config" JSON NOT NULL,
    "husbando_config" JSON NOT NULL,
    "preferred_language" "language" NOT NULL,

    CONSTRAINT "users_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "waifu_collection" (
    "id" SERIAL NOT NULL,
    "telegram_id" BIGINT NOT NULL,
    "character_id" INTEGER NOT NULL,
    "added_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "waifu_collection_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "characters_husbando_data_key" ON "characters_husbando"("data");

-- CreateIndex
CREATE INDEX "ix_characters_husbando_event_code" ON "characters_husbando"("event_code");

-- CreateIndex
CREATE INDEX "ix_characters_husbando_rarity_code" ON "characters_husbando"("rarity_code");

-- CreateIndex
CREATE UNIQUE INDEX "characters_waifu_data_key" ON "characters_waifu"("data");

-- CreateIndex
CREATE INDEX "ix_characters_waifu_event_code" ON "characters_waifu"("event_code");

-- CreateIndex
CREATE INDEX "ix_characters_waifu_rarity_code" ON "characters_waifu"("rarity_code");

-- CreateIndex
CREATE UNIQUE INDEX "ix_events_code" ON "events"("code");

-- CreateIndex
CREATE INDEX "ix_husbando_collection_character_id" ON "husbando_collection"("character_id");

-- CreateIndex
CREATE INDEX "ix_husbando_collection_telegram_id" ON "husbando_collection"("telegram_id");

-- CreateIndex
CREATE UNIQUE INDEX "ix_rarities_code" ON "rarities"("code");

-- CreateIndex
CREATE UNIQUE INDEX "ix_telegram_groups_group_id" ON "telegram_groups"("group_id");

-- CreateIndex
CREATE UNIQUE INDEX "ix_users_telegram_id" ON "users"("telegram_id");

-- CreateIndex
CREATE INDEX "ix_users_favorite_husbando_id" ON "users"("favorite_husbando_id");

-- CreateIndex
CREATE INDEX "ix_users_favorite_waifu_id" ON "users"("favorite_waifu_id");

-- CreateIndex
CREATE INDEX "ix_waifu_collection_character_id" ON "waifu_collection"("character_id");

-- CreateIndex
CREATE INDEX "ix_waifu_collection_telegram_id" ON "waifu_collection"("telegram_id");

-- AddForeignKey
ALTER TABLE "characters_husbando" ADD CONSTRAINT "characters_husbando_event_code_fkey" FOREIGN KEY ("event_code") REFERENCES "events"("code") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "characters_husbando" ADD CONSTRAINT "characters_husbando_rarity_code_fkey" FOREIGN KEY ("rarity_code") REFERENCES "rarities"("code") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "characters_waifu" ADD CONSTRAINT "characters_waifu_event_code_fkey" FOREIGN KEY ("event_code") REFERENCES "events"("code") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "characters_waifu" ADD CONSTRAINT "characters_waifu_rarity_code_fkey" FOREIGN KEY ("rarity_code") REFERENCES "rarities"("code") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "husbando_collection" ADD CONSTRAINT "husbando_collection_character_id_fkey" FOREIGN KEY ("character_id") REFERENCES "characters_husbando"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "husbando_collection" ADD CONSTRAINT "husbando_collection_telegram_id_fkey" FOREIGN KEY ("telegram_id") REFERENCES "users"("telegram_id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "users" ADD CONSTRAINT "users_favorite_husbando_id_fkey" FOREIGN KEY ("favorite_husbando_id") REFERENCES "characters_husbando"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "users" ADD CONSTRAINT "users_favorite_waifu_id_fkey" FOREIGN KEY ("favorite_waifu_id") REFERENCES "characters_waifu"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "waifu_collection" ADD CONSTRAINT "waifu_collection_character_id_fkey" FOREIGN KEY ("character_id") REFERENCES "characters_waifu"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "waifu_collection" ADD CONSTRAINT "waifu_collection_telegram_id_fkey" FOREIGN KEY ("telegram_id") REFERENCES "users"("telegram_id") ON DELETE CASCADE ON UPDATE NO ACTION;

